.cards-container {
    height: 170vh;
    width: 100%;
    background-color: #fff;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.card-group {
    width: 65%;
    margin-top: -20px;
}

.card {
    border-color: #2196F3;
    border-width: 3px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card > i {
    margin: 15px;
    font-size: 65px;
    color: #2196F3;
} 

.card-body {
    text-align: center;
}

.price {
    margin-top: 80px;
    font-size: 55px;
    display: flex;
    justify-content: center;
}

.dollar-sign {
    position: relative;
    margin: 20px 4px 11px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.list-group-flush {
    margin-top: 30px;
}

.fw-bold {
    font-size: 14px;
    padding-right: 35px;
}

.fa-check {
    color: #26a69a;
}