.description-container {
    height: 90vh;
    width: 100%;
    background-color: #fff;
    position: relative; 
    display: flex;
    justify-content: center;
}

.quote-background {
    background-color: #131722;
    position: absolute;
    width: 62%;
    height: 75%;
    margin-top: 50px;
    margin-left: -335px;
    z-index: 2;
}

.description-text {
    width: 28%;
    position: absolute;
    margin-top: 100px;
    margin-left: -620px;
    color: #d1d4dc;
    z-index: 3;
}

.fa-quote-left {
    position: absolute;
    margin-top: -30px;
    margin-left: -60px;
    font-size: 50px;
    color: #2196F3;
}

.description-quote {
    position: relative;
    font-size: 34px;
}

.fa-quote-right {
    position: absolute;
    margin-top: -65px;
    margin-left: 385px;
    font-size: 30px;
    color: #2196F3;
}

.quote-author {
    margin-left: 150px;
    font-size: 25px;
}

.photos-background-blue {
    background-color: #2196F3;
    position: absolute;
    width: 25%;
    height: 45%;
    margin-top: 120px;
    margin-right: -900px;
    z-index: 1;
}

.photos-background-grey {
    background-color: #d1d4dca1;
    position: absolute;
    width: 20%;
    height: 45%;
    margin-top: -20px;
    margin-right: -450px;
    z-index: 1;
}

.description-icons {
    width: 40%;
    position: absolute;
    margin-top: 100px;
    margin-right: -425px;
    color: #d1d4dc;
}

.minervini-photos-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.minervini-books > img {
    position: absolute;
    width: 54%;
    margin-left: 20px;
    margin-top: -70px;

    z-index: 3;
}

.minervini-web > img {
    position: absolute;
    width: 70%;
    height: 300px;
    margin-left: 250px;
    margin-top: 120px;
    z-index: 2;
}

/* .fa-laptop {
    position: absolute;
    font-size: 320px;
}

.fa-mobile {
    position: absolute;
    font-size: 180px;
    margin-top: 180px;
    margin-left: 370px;
}

.fa-chart-line {
    position: absolute;
    font-size: 120px;
    margin-top: 55px;
    margin-left: 135px;
    color: #2196F3;
}

.fa-lightbulb {
    position: absolute;
    z-index: 2;
    font-size: 70px;
    margin-top: 220px;
    margin-left: 403px;
    color: #2196F3;
} */