.description-container {
    height: 90vh;
    width: 100%;
    background-color: #fff;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-background {
    background-color: #131722;
    position: absolute;
    width: 92.5%;
    height: 80%;
    margin-top: 40px;
    margin-left: 100px;
    z-index: 2;
}

.description-text {
    width: 32%;
    position: absolute;
    margin-top: 100px;
    margin-left: -500px;
    color: #d1d4dc;
    z-index: 3;
}

.fa-quote-left {
    position: absolute;
    margin-top: -30px;
    margin-left: -60px;
    font-size: 50px;
    color: #2196F3;
}

.description-quote {
    position: relative;
    font-size: 35px;
}

.fa-quote-right {
    position: absolute;
    margin-top: -65px;
    margin-left: 385px;
    font-size: 30px;
    color: #2196F3;
}

.quote-author {
    margin-left: 150px;
    font-size: 25px;
}

.quote-icons-wrapper {
    width: 40%;
    margin-left: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.sheet-icon {
    position: absolute;
    font-size: 400px;
    color: #fff;
}

.pen-icon {
    position: absolute;
    font-size: 185px;
    color: #2196F3;
    margin-right: -250px;
    margin-top: -150px;
}