.services-container {
    height: 90vh;
    width: 100%;
    background-color: #fff;
    position: relative; 
    display: flex;
    justify-content: center; 
}

.services-title {
    color: #d1d4dc;
    margin: 40px 0 15px -700px;
    position: absolute;
}

.list-group-wrapper {
    width: 75%;
}

#services-item {
    background-color: #fff;
    border-color: transparent;
}

.services-header {
    font-size: 20px;
    color: #131722;

}

.services-text {
    font-size: 14px;
    color: #9799a0;
    padding-left: 15px;
}

